.api-body .short-description {
  margin: 6px 0 0 10px;
}

info {
  border-left: 5px solid #d81b60;
  font-size: 1rem;
  line-height: 1.25;
  padding-left: 0.5rem;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.api-body > p:nth-child(2) {
  border-left: 6px solid #d81b60;
  font-size: 1rem;
  line-height: 1.25;
  padding-left: 0.5rem;
}

ul.video-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.video-list li {
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 40%;
}
