<div class="container-fluid">
    <h2>✔ Interval</h2>
    <div class="api-body">
        <p class="short-description"></p>
        <p class="info">Creates an Observable that emits sequential numbers every specified interval of time, on a
            specified SchedulerLike
        </p>
    </div>
    <p>{{Msg}}</p>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 1 </div>
                <div class="card-body">
                    <ul id="elContainer1"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 2 </div>
                <div class="card-body">
                    <ul id="elContainer2"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 3 </div>
                <div class="card-body">
                    <ul id="elContainer3"></ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2>✔ Timer</h2>
    <div class="api-body">
        <p class="short-description"></p>
        <p class="info">Creates an Observable that starts emitting after an dueTime and emits ever increasing numbers
            after each period of time thereafter.
        </p>
    </div>
    <p>{{Msg1}}</p>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 1 </div>
                <div class="card-body">
                    <ul id="elContainer4"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 2 </div>
                <div class="card-body">
                    <ul id="elContainer5"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> User 3 </div>
                <div class="card-body">
                    <ul id="elContainer6"></ul>
                </div>
            </div>
        </div>
    </div>
</div>