<!-- Observable Stream

    - User Input (Button click event)
    - Http Request
    - Array
    - Object
    
Observable Handle

    - Data
    - Error
    - Completion -->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="my-3">
                <h2>Observable</h2>
                <div class="api-body">
                    <p class="short-description"></p>
                    <p class="info">
                        Angular makes use of <code><strong>observables</strong></code> as an interface to handle a
                        variety of
                        common asynchronous operations.</p>
                </div>
                <h5> For example:</h5>
                <ul>
                    <li>You can define custom events that send observable output data from a child to a
                        parent component.</li>
                    <li>The HTTP module uses <code><strong>observables</strong></code> to handle AJAX
                        requests and responses.
                    </li>
                    <li>The Router and Forms modules use <code><strong>observables</strong></code> to
                        listen for and respond to user-input events.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>

<router-outlet></router-outlet>