<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-6">
      <h2>✔ ConcatMap 2</h2>
      <div class="api-body">
        <p class="short-description"></p>
        <p class="info">Creates an output Observable which sequentially emits all values from given Observable and
          then moves on to the next</p>
      </div>
      <br><br>
      <strong>Ex - 02 | ConcatMap</strong>
      <p>Mobile Notification Example</p>
    </div>
    <div class="col-md-6">
      <div class="iphone-x">
        <i>Speaker</i>
        <b>Camera</b>
        <s>01:43</s>
        <p style="text-align: center;">Wednesday, 14 April</p>
        <div class="notification" id="elContainer">
        </div>
        <span>Left action button</span>
        <span>Right action button</span>
      </div>
    </div>
  </div>
</div>