<div class="container-fluid">
  <h2>✔ map</h2>
  <div class="api-body">
    <p class="short-description"></p>
    <p class="info">Applies a given project function to each value emitted by the source Observable, and emits the
      resulting values as an Observable.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded"><strong>Map</strong> 'Video '+ data</p>
      <br>
      <p>Message : <strong class="text-success">{{msg1}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded"><strong>Map</strong> data => data*2</p>
      <br>
      <p>Message : <strong class="text-success">{{msg2}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded"><strong>Map</strong> Map Object Data</p>
      <br>
      <ul id="elContainer"></ul>
    </div>
  </div>
</div>